body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
    background-color: black;
}

h1{
    color: darkorange;
    font-style: italic;
    background-color: darkorchid;
}